<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.platacode.chronos">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".CreateStudentActivity"
            android:label="@string/create_student_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditStudentActivity"
            android:label="@string/edit_student_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CreateTeacherActivity"
            android:label="@string/create_teacher_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditTeacherActivity"
            android:label="@string/edit_teacher_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditParentActivity"
            android:label="@string/edit_parent_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CreateRoomActivity"
            android:label="@string/create_room_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditRoomActivity"
            android:label="@string/edit_room_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CreateSubjectActivity"
            android:label="@string/create_subject_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditSubjectActivity"
            android:label="@string/edit_subject_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".CreateClassActivity"
            android:label="@string/create_class_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditClassActivity"
            android:label="@string/edit_class_activity_title"
            android:parentActivityName=".MainActivity">
        </activity>

        <service
            android:name=".NfcHostService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice"/>
        </service>

        <activity android:name=".SelectStudentActivity">
        </activity>
        <activity
            android:name=".TeacherMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".TeacherClassActivity">
        </activity>
    </application>

</manifest>